@page "/"

<h1>Terminliste von Aufgabe</h1>

<p>Termin 1 mit Person 1</p>
<p>Termin 1 mit Person 1</p>
<p>Termin 1 mit Person 1</p>
<p>Termin 1 mit Person 1</p>
<p>Termin 1 mit Person 1</p>
<p>Termin 1 mit Person 1</p>


<div>
    <ReplanerAssist.Components.Layout.BottomNavBar/>
</div>