@page "/person-list"
@using ReplanerAssist.Database
@inject IReplanerDB replanerdb;
@inject NavigationManager Navigation;


<div class="row">
    <h5 class="text-light">
        Personenliste
    </h5>
</div>
@if (replanerdb.Personen.Count == 0)
{
   <p>Es sind keine Personen angelegt</p>
}
else
{
    @foreach (var person in replanerdb.Personen)
    {
        <h6 class="text-light">
            @person.Vorname @person.Nachname (x Tage her) <button @onclick="() => editPerson(person)" class="btn-small fs-6"><span class="bi-pencil"></span></button>
        </h6>
    }
}

<style>
    .btn-small {
        background-color: transparent;
        color: white;
        border-color: transparent;
        box-shadow: none;
        text-decoration: none;
        font-size: 7px;
        padding-left: 40px;
    }
</style>



<div>
       <nav class="navbar fixed-bottom nav_bar container-fluid">
      <div class="row w-100 m-0 gx-0">
        <div class="col d-flex justify-content-start"><NavLink href=""><button class="btn-primary fs-1 px-4" ><span class="bi bi-arrow-left"></span></button></NavLink></div>
        <div class="col d-flex justify-content-center"><button @onclick="AddPerson" class="btn-primary fs-1 px-4" ><span class="bi-plus-circle-fill"></span></button></div>
        <div class="col d-flex justify-content-center"><NavLink><button class="btn-primary fs-1 px-4" ><span class=""></span></button></NavLink></div>
      </div> 
    </nav>
</div>

<style>
    .navbar {
    background-color: #222222;
}
.btn-primary{
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    text-decoration: none;
}

.btn-primary:focus,
    .btn-primary:hover {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        text-decoration: none;
        outline: none !important;

    }

</style>

@code{
    public async Task AddPerson()
    {
        Entity.Person person = new Entity.Person();
        person.Vorname = "leer";
        person.Nachname = "leer";
        person.Notiz = "leer";

        replanerdb.Personen.Add(person);
        await replanerdb.SaveDatabase();
    }

    public async Task editPerson(Entity.Person person)
    {
        Navigation.NavigateTo("/edit-person/" + person.PID);
    }
}