@page "/person-list"

<h1>Personen</h1>
<p>Person 1</p>
<p>Person 2</p>
<p>Person 3</p>
<p>Person 4</p>
<p>Person 5</p>
<p>Person 6</p>


<div>
       <nav class="navbar fixed-bottom nav_bar container-fluid">
      <div class="row w-100 m-0 gx-0">
        <div class="col d-flex justify-content-start"><NavLink href=""><button class="btn-primary fs-1 px-4" ><span class="bi bi-arrow-left"></span></button></NavLink></div>
        <div class="col d-flex justify-content-center"><NavLink href="add-Person"><button class="btn-primary fs-1 px-4" ><span class="bi-plus-circle-fill"></span></button></NavLink></div>
        <div class="col d-flex justify-content-center"><NavLink><button class="btn-primary fs-1 px-4" ><span class=""></span></button></NavLink></div>
      </div> 
    </nav>
</div>

<style>
    .navbar {
    background-color: #222222;
}
.btn-primary{
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    text-decoration: none;
}

.btn-primary:focus,
    .btn-primary:hover {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        text-decoration: none;
        outline: none !important;

    }

</style>