@page "/task-list"

<h1>Tasks</h1>
<p>Wähle eine Aufgabe aus</p>

<NavLink href="">Diese Aufgabe wählen</NavLink>

<div>
       <nav class="navbar fixed-bottom nav_bar container-fluid">
      <div class="row w-100 m-0 gx-0">
        <div class="col d-flex justify-content-start"><NavLink href=""><button class="btn-primary fs-1 px-4" ><span class="bi bi-arrow-left"></span></button></NavLink></div>
        <div class="col d-flex justify-content-center"><NavLink href="add-task"><button class="btn-primary fs-1 px-4" ><span class="bi-plus-circle-fill"></span></button></NavLink></div>
        <div class="col d-flex justify-content-center"><NavLink><button class="btn-primary fs-1 px-4" ><span class=""></span></button></NavLink></div>
      </div> 
    </nav>
</div>

<style>
    .navbar {
    background-color: #222222;
}
.btn-primary{
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    text-decoration: none;
}

.btn-primary:focus,
    .btn-primary:hover {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        text-decoration: none;
        outline: none !important;

    }

</style>