   <nav class="navbar fixed-bottom nav_bar container-fluid">
      <div class="row w-100 m-0 gx-0">
        <div class="col d-flex justify-content-start"><NavLink href="" Match="NavLinkMatch.All" ><button class="btn-primary fs-1 px-4"><span class="bi-list-ul"></span></button></NavLink></div>
        <div class="col d-flex justify-content-center"><NavLink href="counter"><button class="btn-primary fs-1 px-4"><span class="bi-plus-circle-fill"></span></button></NavLink></div>
        <div class="col d-flex justify-content-end"><NavLink href="weather"><button class="btn-primary fs-1 px-4"><span class="bi-person-square"></span></button></NavLink></div>
      </div> 
    </nav>

    <style>
      .active{
    background-color: rgb(13, 14, 13);
    border-radius: 10%;
}
    </style>